<div class="countdown box">
  <div class="box-inner">
    <div class="container text-center" style="margin-top: 2rem">
      <img
        src="assets/img/blanco.png"
        alt="fiestacerca"
        class="image_center w-[50%] -mb-40"
      />
      <!-- <h1 style="font-size: 2.5rem; margin-bottom: 15px" class="text-white text-2xl uppercase tracking-widest">
                  ¡Juega a la Ruleta Tada y gana premios mágicos!
              </h1> -->
      <img class="image_center" src="/assets/img/titulo_ruleta_pilsener.png" />

      <div class="flex justify-center" style="margin-top: 2rem">
        <div id="app">
          <img class="marker" src="/assets/img/marker.png" />
          <img class="wheel" src="/assets/img/ruleta_pilsener.png" />
          <div class="button" align="center">
            <button class="w-[60%]"></button>
            <img
              style="width: 60%"
              src="/assets/img/boton_ruleta_pilsener.png"
              alt="sombrero"
            />
          </div>

          <!-- <img class="button" src="/assets/img/button.png" /> -->
        </div>
      </div>
    </div>
  </div>
</div>
